*{
    text-decoration-color: white;
    margin: 0;padding: 0;
   overflow: hidden;
}

#form{
    margin: 10px auto;
    width: 45%;
    padding: 20px; 
    font-size: 17px;
    background-color: #FF7F7F;
    position:absolute;
    margin-left: 400px;

    
    
     

}
input[type=text],select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
}
input[type=submit]{
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background-color: #555;
    padding: 7px 20px 6px;
    border: none;
    border-radius: 40px;
    transition: all 0.3s ease 0s;

}
input[type=submit]:hover{
    /* background-color: whitesmoke;
    color: black; */
    color: #ff3571;
    background: #fff;
    box-shadow: 4px 2px #ee5253, 7px -2px #10ac84, 9px 3px #ff9f43, -5px -3px #ff3571, -7px 3px #5f27cd;

}
h1{
    margin-top: 10px;
    color:white;
    text-align: center;

}
input[type=text]{
color:black

}
div label{
    font-family: 'Zilla Slab', serif;
    color: white;
}
#female{
    margin-left: 400px;
}
body{
    background-color: black;
    height: 100%;
    
}

 #particles-js{ 
    background-image: url(image/51364.jpg); 
    
    height: 800px; 
    

 } 
 
input[type=submit]:focus {
    color: #fff;
}

